@import url('https://fonts.font.im/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

// Make page header alignment consistent with widget page header alignment
.universal-wrapper h1 {
  text-align: center;
}

// Center the CTA shortcode button
.cta-group {
  justify-content: center;
}

section#my-hero-style {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

#my-hero-style .hero-title {
  @extend h1;
}

#my-hero-style .hero-subtitle {
  @extend h2;
}

#my-hero-style .hero-lead {
  @extend p;
  font-size: 1rem !important;
}
